body {
   padding: 0;
   margin: 0;
}

#container{
    max-width: 60%;
    margin: 0 auto;
}

#banner{
    display: block;
    height: 350px; 
    width: 100%;
    object-fit: cover;
    
}
/**************************************Nav Bar***************************************************/

.titles{
    color: rgb(120, 120, 120);
    margin-bottom: 0;
}
.location{
    font-weight: bold;
}
#posting{
    margin-bottom: 2%;
}
